@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}
.navbar {
  display: flex;
  background: url('./assets/fond-01.png');
  justify-content: center;
  align-items: center;
  top: 0;
  height: 10vh;
  color: white;
  position: fixed;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  z-index: 1;
  
  
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}
input{
  height: 40px;
  width: 30vw;
  border: 1px solid;
  padding-left: 7px;
  font-size: 18px;
  
}
input:focus{
  box-shadow: 0px 0px 4px 3px #9d83da;
  outline: 0;
  border: none;
}
  


button{
  width: 100px;
  height: 40px;
  background-color: #4E1159;
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.content{
  width: 38vw;
  height: fit-content;
  background-color: #2E1251;
  border-radius: 6px;
  margin-top: 3vh;
  padding: 20px;
}
.list{
  display: flex;
  justify-content: space-between;
  width: 30vw;
}
.todo{
  font-size: 20px;
  font-weight: 900;
  color: #fafafa;
  margin-bottom: 20px;
  padding-left: 30px;
}
.close{
  cursor: pointer;
  color: #fafafa;
  font-size: 20px;
  font-weight: 900;
}